.appBar {
    background-color: red;
}

.title {
    flex-grow: 1;
    font-size: 1.5em;
    color: #fffffa;
    text-decoration: none;
}

.containerNav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: red;
    margin: 0;
}

.containerCustomer {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 18px;
    background-color: #2e374a;
}

.logout {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    background-color: #2e374a;
}